<!DOCTYPE html>
<html lang="en" ng-app="Game" ng-controller="GameController">
<head>
	<meta charset="UTF-8">
	<title ng-bind="score + ' - Idle Game'"></title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="main.css">
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="score">
		<div ng-bind="score"></div>
	</div>
	<ul class="unstyled-list">
		<li ng-bind="'Energy: ' + resources.energy"></li>
		<li ng-bind="'Food: ' + resources.food"></li>
		<li ng-bind="'Water: ' + resources.water"></li>
		<li ng-bind="'Materials: ' + resources.materials"></li>
		<li ng-bind="'Research: ' + resources.research"></li>
		<li ng-bind="'Energy Multi: ' + multiplier.energy"></li>
		<li ng-bind="'Food Multi: ' + multiplier.food"></li>
		<li ng-bind="'Water Multi: ' + multiplier.water"></li>
		<li ng-bind="'Materials Multi: ' + multiplier.materials"></li>
		<li ng-bind="'Research Multi: ' + multiplier.research"></li>
		<li ng-bind="'Global Multi: ' + multiplier.global"></li>
	</ul>
	<input type="button" value="Energy" ng-click="addResource('energy')"/>
	<input type="button" value="Food" ng-click="addResource('food')"/>
	<input type="button" value="Water" ng-click="addResource('water')"/>
	<input type="button" value="Materials" ng-click="addResource('materials')"/>
	<input type="button" value="Research" ng-click="addResource('research')"/>
	<input type="button" value="Energy Multi" ng-click="addUpgrade('energy')"/>
	<input type="button" value="Food Multi" ng-click="addUpgrade('food')"/>
	<input type="button" value="Water Multi" ng-click="addUpgrade('water')"/>
	<input type="button" value="Materials Multi" ng-click="addUpgrade('materials')"/>
	<input type="button" value="Research Multi" ng-click="addUpgrade('research')"/>
	<input type="button" value="Global Multi" ng-click="addUpgrade('global')"/>
	<!-- Market -->
	<div id="market" ng-controller="MarketController">
		<nav id="market-nav">
			<div class="market-tab" ng-class="{'market-tab-active':isSelected(1)}" ng-click="selectPage(1)">Buildings</div>
			<div class="market-tab" ng-class="{'market-tab-active':isSelected(2)}" ng-click="selectPage(2)">Upgrades</div>
		</nav>
		<div id="page-1" class="market-page" ng-show="isSelected(1)">
			<div ng-repeat="building in buildings" class="item" ng-class="{'available':isBuildingAvailable(building.name)}">
				<img class="item-img" ng-src="{{ building.img }}"></img>
				<span class="item-name" ng-bind="building.name"></span>
				<button ng-click="purchaseBuilding(building.name)">Purchase</button>
			</div>
		</div>
		<div id="page-2" class="market-page" ng-show="isSelected(2)">
			<div ng-repeat="upgrade in upgrades" class="item" ng-class="{'available':isUpgradeAvailable(upgrade.name)}">
				<img class="item-img" ng-src="{{ upgrade.img }}"></img>
				<span class="item-name" ng-bind="upgrade.name"></span></span>
				<span class="item-price" ng-bind="upgrade.price"></span>	
			</div>
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.min.js"></script>
<script>
	// Angular Game Module
	var gameModule = angular.module("Game", ["ngCookies"]);
	gameModule.run(["$rootScope", "cookieService", function($rootScope, cookieService) {
		$rootScope.score = 0;
		$rootScope.resources = {
			energy: 0,
			food: 0,
			water: 0,
			materials: 0,
			research: 0
		};
		$rootScope.multiplier = {
			energy: 1,
			food: 1,
			water: 1,
			materials: 0,
			research: 0,
			global: 1
		};
		$rootScope.buildingSet = {};
		cookieService.initProgress();
	}]);
	
	// Cookies!!!
	gameModule.service("cookieService", ["$rootScope", "$cookies", function($rootScope, $cookies) {
		this.initProgress = function() {
			for (var resource in $rootScope.resources) {
				if ($cookies.get(resource) === undefined) {
					$cookies.put(resource, $rootScope.resources[resource]);
				} else {
					$rootScope.resources[resource] = parseFloat($cookies.get(resource));
				}
			}
			for (var multiplier in $rootScope.multiplier) {
				if ($cookies.get(multiplier) === undefined) {
					$cookies.put(multiplier, $rootScope.multiplier[multiplier]);
				} else {
					$rootScope.multiplier[multiplier] = parseFloat($cookies.get(multiplier));
				}
			}
			this.updateScore();
		};
		this.updateResource = function(name, value) {
			$rootScope.resources[name] = value;
			this.saveProgress(name, value);
			this.updateScore();
		};
		//MH Updating Multiplier Test
		this.updateUpgrade = function(name, value) {
			$rootScope.multiplier[name] = value;
			this.saveProgress(name, value);
			//this.updateScore();
		};
		this.saveProgress = function(name, value) {
			$cookies.put(name, value);
		};
		this.updateScore = function() {
			var sum = 0;
			for (var resource in $rootScope.resources) {
				sum += $rootScope.resources[resource];
			}
			$rootScope.score = sum;
		};
	}]);
	
	// Market Inventory
	gameModule.service("marketService", ["$http", "$q", function($http, $q) {
		var deferred = $q.defer();
		$http.get("resources/json/market.json").then(function(data) {
			deferred.resolve(data);
		});
		this.getMarketItems = function() {
			return deferred.promise;
		};
	}]);
	
	// Game Controller
	gameModule.controller("GameController", ["$rootScope", "$scope", "cookieService", function ($rootScope, $scope, cookieService) {
		$scope.addUpgrade = function(resourceName) {
		cookieService.updateUpgrade(resourceName, $rootScope.multiplier[resourceName] + 1);
		}
		$scope.addResource = function(resourceName) {
			cookieService.updateResource(resourceName, $rootScope.resources[resourceName] + 1*$rootScope.multiplier[resourceName]*$rootScope.multiplier.global);
		};
	}]);
	
	// Market Controller
	gameModule.controller("MarketController", ["$rootScope", "$scope", "marketService", function($rootScope, $scope, marketService) {
		// Tabs
		$scope.currentPage = 1;
		$scope.selectPage = function(pageNum) {
			$scope.currentPage = pageNum;
		};
		$scope.isSelected = function(pageNum) {
			return pageNum === $scope.currentPage;
		};
		// Shops
		var promise = marketService.getMarketItems();
		promise.then(function(data) {
			$scope.buildings = data.data.buildings;
			$scope.upgrades = data.data.upgrades;
			// initialize buildingSet once JSON is loaded
			for(var i = 0; i < $scope.buildings.length; i++) {
				$rootScope.buildingSet[$scope.buildings[i].name] = 0;
			}
			$scope.isBuildingAvailable = function(buildingName) {
				var b = $scope.buildings[buildingName];
				var r = $rootScope;
				if(b.energy >= r.energy && b.food >= r.food && b.water >= r.water && b.materials >= r.materials && b.research >= r.research) {
					return true;
				}
				return false;
			};
			$scope.isUpgradeAvailable = function(upgradeName) {
				var u = $scope.upgrades[upgradeName];
				var r = $rootScope;
				if(u.energy >= r.energy && u.food >= r.food && u.water >= r.water && u.materials >= r.materials && u.research >= r.research) {
					return true;
				}
				return false;
			};
			$scope.purchaseBuilding = function(buildingName) {
				if ($scope.building != undefined) {
					var b = $scope.buildings[buildingName];
					var r = $rootScope;
					if(b.energy >= r.energy && b.food >= r.food && b.water >= r.water && b.materials >= r.materials && b.research >= r.research) {
						$rootScope.buildingSet[buildingName] += 1;
						r.energy -= b.energy;
						r.food -= b.food;
						r.water -= b.water;
						r.materials -= b.materials;
						r.research -= b.research;
					}
				}
			};
		});
	}]);
</script>
</html>